Reset styles
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace !important;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

body {
  color: #3b3b3b;
  font-family: 'JetBrains Mono', monospace;
  font-size: 13px;
  margin: 0;
}

/* Global utility styles */
::selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
