@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "JetBrains Mono", sans-serif;
}


@layer utilities {
    .animate-gradient {
        background: linear-gradient(
            45deg,
            #ff69b4 0%,
            #ff1e8e 25%,
            #ff00ff 50%,
            #da70d6 75%,
            #ff69b4 100%
        );
        background-size: 300% 300%;
        animation: gradient 4s linear infinite;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}
